[req]
prompt = no
distinguished_name = dn
req_extenstions = ext
input_password = 1234

[dn]
CN = www.devnet.example.com
emailAddress = test@example.com
O = DEVNET CORPORATION
L = Warsaw
C = PL

[ext]
subjectAltName = DNS:www.devnet.example.com,DNS:devnet.example.com